{{#formInfo}}

{{> header title='Entry Details' admin='dashboard-admin'}}
<div class="container d-flex justify-content-start mt-3">
  <a href="/dashboard-admin" ><i class="fa fa-arrow-circle-left text-danger"></i>  Go Back</a>
</div>
<div class="container">
    <ul class="list-group my-5">
          <h3 class="card-header">{{firstname}} {{middlename}} {{lastname}}</h3>
          <li class="list-group-item">
              <div class="row pt-2">
                <div class="col-3 h5 fw-bold">Firstname</div>
                <div class="col-9">{{firstname}}</div>
              </div>
          </li>
          <li class="list-group-item">
              <div class="row pt-2">
                <div class="col-3 h5 fw-bold">Middlename</div>
                <div class="col-9">{{middlename}}</div>
              </div>
          </li>
          <li class="list-group-item">
              <div class="row pt-2">
                <div class="col-3 h5 fw-bold">Lastname</div>
                <div class="col-9">{{lastname}} </div>
              </div>
          </li>
          <li class="list-group-item">
              <div class="row pt-2">
                <div class="col-3 h5 fw-bold">Matriculation Number</div>
                <div class="col-9">{{matriculationNumber}}</div>
              </div>
          </li>
          <li class="list-group-item">
              <div class="row pt-2">
                <div class="col-3 h5 fw-bold">Department</div>
                <div class="col-9">{{department}}</div>
              </div>
          </li>
          <li class="list-group-item">
              <div class="row pt-2">
                <div class="col-3 h5 fw-bold">Program</div>
                <div class="col-9">{{program}}</div>
              </div>
          </li>
          <li class="list-group-item">
              <div class="row pt-2">
                <div class="col-3 h5 fw-bold">Level</div>
                <div class="col-9">{{level}}</div>
              </div>
          </li>
          <li class="list-group-item">
              <div class="row pt-2">
                <div class="col-3 h5 fw-bold">Address</div>
                <div class="col-9">{{address}}</div>
              </div>
          </li>
          <li class="list-group-item">
              <div class="row pt-2">
                <div class="col-3 h5 fw-bold">Email</div>
                <div class="col-9">{{email}}</div>
              </div>
          </li>
      </ul>
  
  </div>

  </div>


{{/formInfo}}